@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Lato:300,regular,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  line-height: 54.5454545455%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
}

.rating {
  margin-bottom: 0.6666666667em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 2.6666666667rem;
  line-height: 35%;
}

.rating__body {
  font-size: 1.3333333333rem;
  position: relative;
}

.rating__body:before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1.3333333333rem;
  overflow: hidden;
}

.rating__active:before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding-left: 0.6666666667rem;
}

.menu__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
}

.menu span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger:before,
.menu__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger:before {
  top: 0;
}

.menu__burger:after {
  bottom: 0;
}

.menu__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.menu__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-list {
  overflow: hidden;
}

.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body * {
  font-family: "Lato";
  font-size: 0.9333333333rem;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.container {
  max-width: 1167;
  padding: 0px 15px;
  margin: 0px auto;
}

/*
(i) Стили будут применяться ко всем классам, содержащим *__container
Например, header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.8rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 3em;
  left: 0;
}

.header__body {
  text-align: center;
}

.header__title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.3333333333rem;
  color: #fff;
}

.header__text {
  margin: 0px auto;
  max-width: 26.6666666667rem;
  margin-bottom: 1.3333333333em;
}

.header__text P {
  font-size: 2rem;
}

.tablet {
  font-size: 2rem;
}

.tablet li:first-child {
  font-size: 1.3333333333rem;
  margin-bottom: 1.3333333333rem;
}

.tablet__link {
  font-size: 2rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.tablet__link:hover {
  text-decoration: underline;
  color: #000;
}

.rating_set {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtext-text__title {
  font-size: 1.3333333333rem;
  color: #fff;
  font-style: italic;
}

.contacts__popups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.contacts__phone {
  margin-top: 1.3333333333rem;
  margin-bottom: 1.3333333333rem;
  font-size: 1.3333333333rem;
}

.contacts__popups-1 {
  padding-top: 0.3333333333rem;
  width: 20rem;
  height: 2.6666666667rem;
  background-color: blueviolet;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: #000;
          box-shadow: #000;
}

.contacts__link {
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.contacts__link:hover {
  text-decoration: underline;
  color: #000;
}

.contacts__popups-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 2.6666666667rem;
  background-color: yellowgreen;
  border-radius: 2rem;
  -webkit-box-shadow: #000;
          box-shadow: #000;
}

.footer-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-footer__subtext {
  font-size: 0.9333333333rem;
  line-height: 100%;
  color: #8c8f94;
}

.footer-footer__last-link {
  line-height: 58.3333333333%;
  text-decoration: underline;
  color: #3b55e6;
}

.footer-footer__love {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 0.6666666667rem;
     -moz-column-gap: 0.6666666667rem;
          column-gap: 0.6666666667rem;
}

.footer-footer__made {
  font-size: 0.6rem;
  line-height: 40.9090909091%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
}

.last-block__last-row {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.last-block__last-line:before {
  content: "";
  display: block;
  height: 1px;
  opacity: 0.05;
  background-color: #26292c;
  border-radius: 0.5px;
  margin-top: calc(30px + 100 * ((100vw - 320px) / 1280));
  margin-bottom: calc(15px + 25 * ((100vw - 320px) / 1280));
}

.body-one__logo {
  margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1280));
}

.body-one__text {
  font-size: 0.9333333333rem;
  line-height: 141.6666666667%;
  color: #8c8f94;
  margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1280));
}

.body-one__image {
  margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1280));
}

.body-one__small-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  gap: 1.3333333333rem;
}

.body-two__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 4.6666666667rem;
     -moz-column-gap: 4.6666666667rem;
          column-gap: 4.6666666667rem;
}

.body-two__link {
  display: block;
  line-height: 69.4444444444%;
  color: #8c8f94;
  margin-bottom: 1.6666666667rem;
}

.body-two__link:hover {
  text-decoration: underline;
}

.body-two__link_black {
  font-size: 0.8rem;
  line-height: 54.5454545455%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
}

.button__btn {
  text-align: center;
  font-size: 15px;
  line-height: 52px;
  font-weight: 700;
  color: #061e37;
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 150px;
  height: 55px;
  text-transform: uppercase;
  background-color: #fff;
}

.button__btn:hover {
  background-color: #061e37;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}

.page {
  background-color: darkgreen;
  position: absolute;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vh;
          flex: 1 0 100vh;
  position: relative;
  z-index: 1;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
  margin-top: calc(40px + 80 * ((100vw - 320px) / 1280));
}

@media (min-width: 35.0666666667rem) {
  .body-two__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 51.1986666667em) {
  .footer-footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer-footer__love {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .last-block__last-row {
    -ms-grid-columns: 25% 1fr;
    grid-template-columns: 25% 1fr;
  }
}

@media (max-width: 66.132em) {
  .main-screen {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70vh;
            flex: 1 0 70vh;
  }
}