@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700,italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:regular,700,italic&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.menu__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
}
.menu span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}
.menu__burger:before, .menu__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.menu__burger:before {
  top: 0;
}
.menu__burger:after {
  bottom: 0;
}
.menu__burger.active span {
  transform: scale(0);
}
.menu__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.menu__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-track {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: flex-start;
}
body * {
  font-family: "Roboto Slab";
  font-size: 0.9333333333rem;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.container {
  max-width: 1370;
  padding: 0px 15px;
  margin: 0px auto;
}

/*
(i) Стили будут применяться ко всем классам, содержащим *__container
Например, header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 91.3333333333rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 3em;
  left: 0;
}
.header__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: space-between;
}
.logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.logo__subtitle {
  font-weight: 800;
  text-transform: uppercase;
}
.logo__link {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.6rem;
  line-height: 66.6666666667%;
  font-weight: 700;
}

@media (max-width: 958px) {
  .menu__body {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00b8d4;
    padding-top: 4.6666666667em;
    padding-bottom: 1.3333333333em;
    overflow: auto;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0px 0em 6.3333333333em 2em;
    text-align: center;
  }
  .menu__link {
    color: #fff;
    font-size: 3rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.menu__list li {
  padding-right: 2.6666666667em;
}
.menu__list li:last-child {
  padding-right: 0px;
}
.menu__link {
  line-height: 171.4285714286%;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.menu__link:hover {
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
@media (max-width: 958px) {
  .menu__list li:last-child {
    padding-right: 40px;
  }
}

@media (min-width: 958px) {
  .icon-menu:before, .icon-menu:after {
    display: none;
  }
  .icon-menu span {
    display: none;
  }
}
@media (max-width: 958px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: -30px;
    right: 40px;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
}
.icon-menu span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}
.icon-menu:before, .icon-menu:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.icon-menu:before {
  top: 0;
}
.icon-menu:after {
  bottom: 0;
}
.icon-menu.active span {
  transform: scale(0);
}
.icon-menu.active:before {
  transform: rotate(45deg);
  top: 9px;
  background-color: #fff;
}
.icon-menu.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  background-color: #fff;
}

@media (max-width: 794px) {
  .header__row-2 {
    flex-flow: row wrap;
  }
}

.row-2__item_1 {
  text-align: center;
  padding-top: calc(50px + 214 * ((100vw - 320px) / 1280));
  padding-bottom: calc(40px + 220 * ((100vw - 320px) / 1280));
}
.row-2__title {
  font-family: Montserrat;
  line-height: 50%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: calc(10px + 25 * ((100vw - 320px) / 1280));
  font-size: calc(30px + 18 * ((100vw - 320px) / 1280));
}
@media (max-width: 31.9986666667em) {
  .row-2__title {
    line-height: 112.5%;
  }
}
.row-2__subtitle {
  font-size: calc(15px + 5 * ((100vw - 320px) / 1280));
  line-height: 120%;
  text-transform: none;
  color: #ffffff;
  margin-bottom: calc(20px + 35 * ((100vw - 320px) / 1280));
}
.button-button__element {
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  line-height: 52px;
  font-weight: 700;
  color: #061e37;
  display: inline-block;
  border: 2px solid #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 12rem;
  height: 3.3333333333rem;
  text-transform: uppercase;
  background-color: transparent;
}
.button-button__element:hover {
  background-color: #c0301c;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}
.button-button__btn {
  color: #fff;
  margin-bottom: calc(20px + 240 * ((100vw - 320px) / 1280));
}
.button-button__btn:hover {
  color: #000;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}

.footer {
  background: #c0301c;
  padding-top: calc(40px + 60 * ((100vw - 320px) / 1280));
  padding-bottom: calc(40px + 60 * ((100vw - 320px) / 1280));
}

.last-block__last-row {
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.last-block__itemus {
  margin-right: 1em;
}
.last-block__iconius {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 2em;
}
.last-block__iconius img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0.6);
}
.last-block__last-line {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: center;
}
.last-block__last-line:before {
  display: block;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}
.last-block__credits {
  margin-top: 2em;
  text-align: center;
}

.button__btn {
  text-align: center;
  font-size: 15px;
  line-height: 52px;
  font-weight: 700;
  color: #061e37;
  display: inline-block;
  border: 1px solid #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 150px;
  height: 55px;
  text-transform: uppercase;
  background-color: #fff;
}
.button__btn:hover {
  background-color: #061e37;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}

.page {
  position: absolute;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100vh;
  position: relative;
  z-index: 1;
}
@media (max-width: 66.132em) {
  .main-screen {
    flex: 1 0 70vh;
  }
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-screen__bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.45;
}

.content {
  margin-top: calc(40px + 53 * ((100vw - 320px) / 1280));
}

.project__services {
  margin-bottom: calc(40px + 60 * ((100vw - 320px) / 1280));
}

.services {
  text-align: center;
}
.services #line {
  margin-bottom: calc(10px + 18 * ((100vw - 320px) / 1280));
  font-family: Montserrat;
  font-size: 1.3333333333rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #555555;
}
.services #line:after {
  margin: 0px auto;
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin-top: calc(10px + 18 * ((100vw - 320px) / 1280));
}
.services #supertext {
  font-size: 1.0666666667rem;
  line-height: 150%;
  color: #555555;
}
.services__row {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 2.6666666667rem;
  margin-top: calc(30px + 35 * ((100vw - 320px) / 1280));
}
@media (max-width: 66.132em) {
  .services__row {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}
.services__item {
  display: grid;
  gap: 1.6666666667rem;
  max-width: 23rem;
  text-align: center;
}
.services__subttitle {
  font-family: Montserrat;
  line-height: 171.4285714286%;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
}
.services__text {
  line-height: 171.4285714286%;
  font-weight: 400;
  color: #555555;
}

.devmans {
  padding-top: calc(40px + 60 * ((100vw - 320px) / 1280));
  padding-bottom: calc(40px + 60 * ((100vw - 320px) / 1280));
  background: #f8f8f8;
}
.devmans__services {
  padding-top: calc(50px + 49 * ((100vw - 320px) / 1280));
}
.devmans__row {
  margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1280));
}
.devmans__row:not(:last-child) p {
  margin-bottom: 1.3333333333em;
}
@media (min-width: 66.132em) {
  .devmans__row {
    display: grid;
    grid-template-columns: repeat(2, 36.8666666667rem);
    justify-content: space-between;
  }
}
.devmans__text {
  line-height: 171.4285714286%;
  color: #555555;
}
@media (min-width: 66.132em) {
  .devmans__row-2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 18.4rem);
  }
}
.devmans__item-2 {
  position: relative;
  height: 100%;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
}
.devmans__image-item {
  text-align: center;
}
.devmans__nickname {
  text-align: center;
  font-family: Montserrat;
  line-height: 171.4285714286%;
  text-transform: uppercase;
  color: #555555;
  margin-top: calc(5px + 10 * ((100vw - 320px) / 1280));
}
.devmans__post {
  text-align: center;
  font-size: 13px;
  line-height: 184.6153846154%;
  color: #555555;
  margin-bottom: calc(5px + 15 * ((100vw - 320px) / 1280));
}

.services__title_title-title {
  margin-top: calc(40px + 60 * ((100vw - 320px) / 1280));
}
.image-item__photo {
  position: relative;
  z-index: 10;
}
.image-item__big-big-image img {
  width: 100%;
}
.image-item__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(85, 85, 85, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.image-item__arrows {
  position: relative;
  width: 2.3333333333rem;
  height: 2.5333333333rem;
  opacity: 0.5;
  background-color: #555555;
  top: 42.4%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
@media (max-width: 66.132em) {
  .image-item__arrows {
    display: none;
  }
}
.image-item__arrows:hover {
  background-color: #c0301c;
  opacity: 1;
  cursor: pointer;
}
.image-item__arrows_right {
  top: 42.4%;
  right: -87.0090634441%;
}
.image-item__arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  top: 31.5789473684%;
  bottom: 31.5789473684%;
  right: 37.1428571429%;
  transform: scale(1.1);
}
.image-item__arrow_arrow-one img {
  position: relative;
  right: 3%;
}
.image-item__arrow_arrow-two img {
  transform: rotate(-180deg);
  position: relative;
  left: 1%;
}
.image-item__row-3 {
  position: absolute;
  bottom: 14.7368421053%;
  left: 30.4182509506%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image-item #small {
  justify-self: self-start;
}
.image-item__small-image {
  display: flex;
  justify-content: center;
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.image-item__small-image:hover {
  background-color: #c0301c;
  cursor: pointer;
}
.image-item__small-image img {
  max-width: 1rem;
}
.image-item__small-image_facebook img {
  max-width: 0.6666666667rem;
}
.image-item:hover .image-item__background {
  opacity: 1;
  visibility: visible;
}

.services__spisok li:not(:last-child) {
  margin-right: 1.3333333333em;
}
@media (min-width: 31.9986666667em) {
  .services__spisok {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    justify-content: center;
  }
}
@media (max-width: 31.9986666667em) {
  .services__spisok li {
    margin-bottom: 1.3333333333em;
    margin-top: 1.3333333333em;
  }
}
.services__sublink {
  font-size: 1.0666666667rem;
  line-height: 150%;
  color: #555555;
}
.services__sublink:hover {
  color: #c0301c;
}

.shop {
  margin-bottom: calc(30px + 70 * ((100vw - 320px) / 1280));
}
.shop__body {
  display: grid;
  gap: 1.3333333333rem;
}
@media (min-width: 66.132em) {
  .shop__body {
    grid-template: minmax(21.3333333333rem, 1fr) minmax(21.3333333333rem, 1fr) minmax(21.3333333333rem, 1fr)/minmax(24rem, 1fr) minmax(24rem, 1fr) minmax(24rem, 1fr);
  }
}
.shop__itemus {
  width: 100%;
  height: 100%;
  position: relative;
}
.shop__imaginus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.picture__card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 48, 28, 0.7);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
@media (min-width: 66.132em) {
  .picture__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.picture__title {
  font-family: Montserrat;
  font-size: 1.2rem;
  line-height: 133.3333333333%;
  color: #ffffff;
}
.picture__subtitle {
  font-size: 0.8rem;
  line-height: 200%;
  color: #ffffff;
  margin-bottom: 1rem;
}
.picture__buttonius {
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 264.2857142857%;
  color: #c0301c;
  display: inline-block;
  border: 1px solid #ffffff;
  width: 6.6666666667rem;
  height: 2.5333333333rem;
  text-transform: uppercase;
  background-color: white;
  padding-right: 0.6666666667rem;
}
.picture__buttonius:hover {
  background-color: #061e37;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  color: #fff;
}
@media (max-width: 66.132em) {
  .picture__buttonius {
    margin-bottom: 1.3333333333rem;
  }
}
.picture__buttton {
  color: #c0301c;
}
.picture__buttton:before {
  left: 75%;
  position: absolute;
  display: block;
  content: url("../img/icons/00.svg");
}
.picture:hover .picture__card {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  opacity: 1;
}

.get-in-touch {
  position: relative;
  padding-top: calc(40px + 60 * ((100vw - 320px) / 1280));
  padding-bottom: calc(40px + 60 * ((100vw - 320px) / 1280));
}
.get-in-touch__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.get-in-touch__bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(192, 48, 28, 0.6);
}
.get-in-touch__text {
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 2rem;
  line-height: 146.6666666667%;
  color: #ffffff;
}
.get-in-touch__subtext {
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 2rem;
  line-height: 146.6666666667%;
  color: #ffffff;
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1280));
}
.get-in-touch__element {
  position: relative;
  z-index: 3;
  margin: 0px auto;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  line-height: 244.4444444444%;
  color: #061e37;
  border: 2px solid #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 10rem;
  height: 3.3333333333rem;
  text-transform: uppercase;
  background-color: transparent;
}
.get-in-touch__element:hover {
  background-color: #c0301c;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}
.get-in-touch__btn {
  color: #fff;
}
.get-in-touch__btn:hover {
  color: #000;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}

.inform {
  margin-top: calc(40px + 55 * ((100vw - 320px) / 1280));
  margin-bottom: calc(40px + 25 * ((100vw - 320px) / 1280));
}
.inform__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.3333333333rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #555555;
}
.inform__title:after {
  margin: 0px auto;
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin-top: calc(10px + 18 * ((100vw - 320px) / 1280));
  margin-bottom: calc(10px + 18 * ((100vw - 320px) / 1280));
}
.inform__subtext {
  text-align: center;
  font-size: 1.0666666667rem;
  line-height: 66.6666666667%;
  color: #555555;
}

.magazine__row {
  margin-bottom: calc(10px + 25 * ((100vw - 320px) / 1280));
}
.magazine__row_big {
  margin-bottom: calc(10px + 90 * ((100vw - 320px) / 1280));
}
@media (min-width: 66.132em) {
  .magazine__row {
    display: grid;
    grid-template-columns: 1fr minmax(42.4666666667rem, 1fr);
  }
}
@media (max-width: 66.132em) {
  .magazine__item-1 {
    margin-bottom: calc(10px + 15 * ((100vw - 320px) / 1280));
  }
}
.magazine__image img {
  width: 90%;
}
@media (max-width: 66.132em) {
  .magazine__image img {
    width: auto;
  }
}
.magazine__item-2 {
  margin-left: auto;
}

.item-2__mini-row-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  gap: 1.3333333333rem;
}
.item-2__box {
  text-align: center;
  font-family: Montserrat;
  line-height: 171.4285714286%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
  padding-right: 0.6666666667em;
  padding-left: 0.6666666667em;
  padding-top: 0.7333333333em;
  width: 5.0666666667rem;
  height: 5.0666666667rem;
  border: 2px solid #555555;
}
.item-2__box span {
  font-size: 1.6rem;
}
.item-2__first-title {
  font-size: 1.0666666667rem;
  line-height: 66.6666666667%;
  text-transform: uppercase;
  margin-top: calc(10px + 10 * ((100vw - 320px) / 1280));
  margin-bottom: calc(10px + 9 * ((100vw - 320px) / 1280));
}
.item-2__last-title {
  font-size: 0.8666666667rem;
  line-height: 54.1666666667%;
  font-style: italic;
  color: #777777;
  margin-bottom: calc(10px + 25 * ((100vw - 320px) / 1280));
}
.item-2__text {
  margin-top: calc(10px + 15 * ((100vw - 320px) / 1280));
  margin-bottom: calc(10px + 25 * ((100vw - 320px) / 1280));
  line-height: 187.5%;
  color: #555555;
  max-width: 42.6666666667rem;
}
.item-2__link {
  font-size: 0.8666666667rem;
  line-height: 54.1666666667%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.item-2__link-link {
  color: #555555;
}
.item-2__link-link:hover {
  color: #c0301c;
}

.line__line-line:before {
  display: block;
  content: "";
  width: 89.3333333333rem;
  height: 1px;
  background-color: #dddddd;
  margin-bottom: calc(10px + 25 * ((100vw - 320px) / 1280));
}

.brands {
  padding-top: calc(40px + 60 * ((100vw - 320px) / 1280));
  padding-bottom: calc(40px + 60 * ((100vw - 320px) / 1280));
  background: #f8f8f8;
}
.brands__row {
  margin-bottom: calc(40px + 35 * ((100vw - 320px) / 1280));
}
@media (min-width: 66.132em) {
  .brands__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 66.132em) {
  .brands__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.brands__item:not(:last-child) {
  margin-right: 3.3333333333rem;
}
@media (max-width: 66.132em) {
  .brands__item:last-child {
    margin-right: 3.3333333333rem;
  }
  .brands__item:not(:last-child) {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1280));
  }
}
.brands__text {
  margin: 0px auto;
  text-align: center;
  max-width: 50.8666666667rem;
  font-size: 1.2rem;
  line-height: 150%;
  font-style: italic;
  color: #555555;
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1280));
}
.brands__devgoogle {
  text-align: center;
  font-size: 1.3333333333rem;
  line-height: 66.6666666667%;
  color: #555555;
  margin-bottom: calc(20px + 50 * ((100vw - 320px) / 1280));
}
.brands__circles {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: center;
}
.brands__item-circle {
  cursor: pointer;
  margin-right: 0.4666666667rem;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #dddddd;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}
.brands__item-circle:hover {
  background-color: #c0301c;
}
.contacts {
  margin-bottom: calc(40px + 60 * ((100vw - 320px) / 1280));
}
@media (min-width: 66.132em) {
  .contacts__big-row {
    display: grid;
    grid-template-columns: 28.7591240876% 1fr;
  }
}
.item-1__small-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin-bottom: calc(20px + 50 * ((100vw - 320px) / 1280));
}
.item-1__small-item {
  margin-right: 1.3333333333em;
}
.item-1__icon {
  margin-top: -0.3333333333rem;
}
.item-1__addresses {
  font-family: Montserrat;
  line-height: 46.6666666667%;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 1.3333333333em;
}
.item-1__navigations {
  max-width: 10.2rem;
  font-size: 0.8rem;
  line-height: 200%;
  color: #555555;
}

.item-2 {
  margin-left: auto;
}
.item-2__square {
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1280));
}
@media (min-width: 66.132em) {
  .item-2__square {
    display: grid;
    grid-template: minmax(2.9333333333rem, 3rem) minmax(2.9333333333rem, 3rem)/minmax(23.3333333333rem, 1fr) minmax(23.3333333333rem, 1fr);
    gap: 1.3333333333rem;
  }
}
.item-2__btn-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: center;
}
.item-2__last-word {
  font-size: 0.8rem;
  line-height: 60%;
  color: #555555;
  margin-left: 4em;
}
.item-2__last-word span {
  font-size: 0.8rem;
  line-height: 60%;
  color: #c0301c;
}
.item-2__box-box input {
  text-transform: uppercase;
  width: 23.3333333333rem;
  height: 2.7666666667rem;
  border: 0.0666666667rem solid #555555;
  margin-bottom: 1.9333333333em;
  padding: 0.6666666667em 1em;
}
.item-2__box-box input:focus {
  outline: none !important;
  border: 1px solid #c0301c;
  box-shadow: 0 0 10px #719ece;
}
@media (max-width: 82rem) {
  .item-2__box-box input {
    max-width: 12.6666666667rem;
  }
}
.item-2__form-button {
  display: inline-block;
  width: 170px;
  height: 44px;
  border: 1px solid #555555;
  background-color: transparent;
}
.item-2__big-text {
  max-width: 48.6666666667rem;
  max-height: 13.3666666667rem;
  border: 0.0666666667rem solid #061e37;
  margin-bottom: 1.6em;
  padding: 0 1.1333333333em;
  padding-top: 1em;
  overflow: hidden;
}
.item-2__big-text textarea {
  resize: none;
  text-transform: uppercase;
}
@media (max-width: 82rem) {
  .item-2__big-text {
    max-width: 33.3333333333rem;
  }
}