@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;

0,500;0,600;0,700;0,800;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.menu__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
}

.menu span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger:before,
.menu__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger:before {
  top: 0;
}

.menu__burger:after {
  bottom: 0;
}

.menu__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.menu__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-list {
  overflow: hidden;
}

.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body * {
  font-family: "Raleway";
  font-size: 15px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.container {
  max-width: 101.3333333333rem;
  padding: 0px 15px;
  margin: 0px auto;
}

/*
(i) Стили будут применяться ко всем классам, содержащим *__container
Например, header__container, main__container и т.д.
Снипет (HTML): cnt
*/

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 45px;
  left: 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}

.header__btn {
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  padding: 0px 0px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  width: 80px;
  height: 25px;
  color: #ffffff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.logo__img {
  padding-right: 5px;
  position: relative;
  top: -2px;
}

.logo__title-title {
  line-height: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.logo__subtitle {
  font-weight: 800;
  text-transform: uppercase;
}

.logo__link {
  color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu__list li {
  padding-right: 40px;
}

.menu__list li:last-child {
  padding-right: 0px;
}

.menu__link {
  line-height: 25px;
  font-weight: 600;
  color: #ffffff;
}

.menu__link:hover {
  color: #000;
}

.icon-menu span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu:before,
.icon-menu:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu:before {
  top: 0;
}

.icon-menu:after {
  bottom: 0;
}

.icon-menu.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  background-color: #fff;
}

.icon-menu.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
  background-color: #fff;
}

.header__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0px auto;
}

.row-2__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.row-2__item_1 {
  max-width: 600px;
}

.row-2__item_2 {
  padding-left: 290px;
}

.row-2__title {
  font-size: 55px;
  line-height: 65px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 28px;
  padding-right: 30px;
}

.row-2__text {
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 38px;
}

.row-2__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.row-2__element {
  padding-right: 25px;
}

.row-2__btn {
  text-align: center;
  font-size: 15px;
  line-height: 52px;
  font-weight: 700;
  color: #061e37;
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 150px;
  height: 55px;
  text-transform: uppercase;
  background-color: #fff;
}

.row-2__btn:hover {
  background-color: #061e37;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}

.video__video-body {
  text-align: center;
  position: relative;
  z-index: 1;
}

.video__body-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 110px;
  left: 0px;
}

.video__semblant {
  position: relative;
  max-width: 600px;
  height: 340px;
}

.video__semblant video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 1px solid #061e37;
  background: #ffffff;
}

.video__back-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #061e37;
  opacity: 0.1;
}

.footer {
  padding-top: 6em;
  background: #061e37;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-bottom: 1.3333333333em;
}

.footer__menu {
  margin-left: auto;
}

.privacy {
  margin-top: 3.3333333333em;
  padding-bottom: 6.6666666667em;
}

.privacy__gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.privacy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.privacy__item:not(:first-child) {
  margin-left: 1.3333333333em;
}

.privacy__link {
  opacity: 0.5;
  line-height: 1.6666666667rem;
  font-weight: 400;
  color: #ffffff;
}

.privacy__circle {
  margin-left: 1.3333333333em;
}

.privacy__circle:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 0.9333333333em;
}

.privacy__cartoons {
  margin-left: auto;
}

.project__icon {
  opacity: 0.3;
}

.project__icon:last-child {
  padding-right: 0;
}

.page {
  position: absolute;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  z-index: 1;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-screen__bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -o-linear-gradient(143deg, #00b8d4 -11%, #1de9b6 111%);
  background-image: linear-gradient(-53deg, #00b8d4 -11%, #1de9b6 111%);
  opacity: 0.9;
}

.content {
  margin-top: 5.6666666667rem;
}

.project__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -4.6666666667em;
}

.project #item {
  margin-top: -0.3333333333rem;
}

.project__item {
  padding: 0px 4.6666666667em;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
}

.project__subtitle {
  font-family: Raleway;
  font-size: 1.3333333333rem;
  line-height: 166.6666666667%;
  font-weight: 600;
  color: #061e37;
}

.project__subtext {
  line-height: 133.3333333333%;
  font-weight: 400;
  color: #78909c;
}

.project__button {
  margin-top: 3.3333333333rem;
  text-align: center;
}

.project__btn {
  line-height: 3.4666666667rem;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0.3333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.3333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 9.3333333333rem;
  height: 3.5333333333rem;
  text-transform: uppercase;
  background-color: #1de9b6;
}

.project__btn:hover {
  background-color: #061e37;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #1de9b6;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}

.first {
  text-align: center;
}

.first__title {
  font-family: Raleway;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 0.3333333333em;
}

.first__subtitle {
  font-family: Raleway;
  font-size: 1.6666666667rem;
  line-height: 1.2;
  font-weight: 600;
  color: #b0bec5;
  padding-bottom: 0.3333333333em;
}

.first__text {
  line-height: 166.6666666667%;
  font-weight: 400;
  margin: 0px auto;
  color: #b0bec5;
  margin-bottom: 6.2666666667em;
  max-width: 42rem;
}

.statistic {
  margin-top: 6.4rem;
}

.statistic__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: minmax(150px, 1fr);
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: row;
}

.statistic #item-1 {
  background-color: #80d8ff;
}

.statistic #item-2 {
  background-color: #82b1ff;
}

.statistic #item-3 {
  background-color: #b388ff;
}

.statistic #item-4 {
  background-color: #ea80fc;
}

.statistic__row-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5333333333rem 0rem;
}

.statistic__image {
  padding-right: 1.3333333333rem;
}

.statistic__info {
  font-size: 1.3333333333rem;
  line-height: 60%;
  font-weight: 800;
  color: #ffffff;
}

.statistic__numbers {
  margin-bottom: 0.3333333333em;
}

.article {
  margin-top: 6.4em;
}

.first__text {
  padding-left: 4.6666666667em;
  padding-right: 4.6666666667em;
}

.information {
  margin-bottom: 6.2em;
}

.information__information-container {
  margin: 0px auto;
  max-width: 53.3333333333rem;
}

.information__spoiler {
  -webkit-box-shadow: 0px 0.3333333333rem 1.3333333333rem 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0.3333333333rem 1.3333333333rem 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.3333333333rem;
  height: 14.6666666667rem;
}

.spoiler {
  overflow: auto;
}

.spoiler__row-1 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 1.6666666667rem;
  margin-bottom: 1.6666666667rem;
  padding-top: 1.6666666667rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spoiler__element-1 {
  margin-right: 1.6666666667rem;
}

.spoiler__element-2 {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #061e37;
  margin-top: -0.2rem;
}

.spoiler__element-3 {
  margin-left: auto;
}

.spoiler__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 1.6666666667rem;
}

.spoiler__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 16.6666666667rem;
          flex: 1 0 16.6666666667rem;
}

.spoiler__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 166.6666666667%;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #061e37;
  padding-right: 6em;
  margin-left: -1.3333333333em;
}

.spoiler__item p:first-child {
  margin-bottom: 2.6666666667em;
}

.spoiler__item p:last-child {
  margin-top: -0.6666666667em;
}

.spoiler-small {
  -webkit-box-shadow: 0px 0.1333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0.1333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.3333333333rem;
  height: 2.6666666667rem;
}

.spoiler-spoiler__row-1 {
  padding-top: 1.0666666667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 1.6666666667rem;
  margin-top: 1.3333333333rem;
}

.spoiler-spoiler__element-1 {
  margin-right: 1.6666666667rem;
}

.spoiler-spoiler__element-2 {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #061e37;
  margin-top: -0.2em;
}

.spoiler-spoiler__element-3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: auto;
}

.second-screen {
  position: relative;
  height: 100vh;
}

.second-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.second-screen__bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -o-linear-gradient(143deg, #00b8d4 -3%, #1de9b6 104%);
  background-image: linear-gradient(-53deg, #00b8d4 -3%, #1de9b6 104%);
  opacity: 0.9;
}

.row-2 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.row-2 #item-item-item {
  padding-top: 8.5333333333em;
  max-width: 53.3333333333em;
}

.row-2__item_3 {
  margin-left: auto;
}

.row-2__title_1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  margin-right: 2.6666666667em;
  margin-bottom: 0.1333333333em;
}

.row-2__text_2 {
  font-size: 1rem;
  line-height: 166.6666666667%;
  color: #ffffff;
  margin-bottom: 2.8666666667em;
  margin-right: 6.6666666667em;
}

.reviews__image-0 {
  padding-top: 2.5333333333em;
  margin-left: 28em;
  margin-bottom: 2em;
  cursor: pointer;
}

.reviews__body-body-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.reviews__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -2.6666666667em;
}

.reviews__wrapperius {
  max-width: 36.6666666667rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0.3333333333rem 0.6666666667rem 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.3333333333rem 0.6666666667rem 0px rgba(0, 0, 0, 0.15);
  border-radius: 0.3333333333rem;
  margin-bottom: 4.3333333333em;
  margin-left: 2.8em;
  padding-bottom: 1.6666666667em;
}

.reviews__wrapperius_wrap {
  margin-bottom: 2em;
}

.reviews__letter {
  padding: 1.8em 4.6666666667em 0 2.3333333333em;
}

.reviews__subtitle {
  font-size: 1.2rem;
  line-height: 138.8888888889%;
  font-weight: 700;
  color: #061e37;
  margin-bottom: 0.3333333333em;
}

.reviews__text {
  line-height: 166.6666666667%;
  font-style: italic;
  color: #78909c;
}

.reviews__body-body-two {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.reviews__image-2 {
  margin-left: 28em;
  cursor: pointer;
}

.avatars__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatars__image:not(:last-child) {
  padding-right: 3.3333333333em;
}

.avatars__image:not(:first-child) {
  padding-top: 1.3333333333rem;
}

.first__title_small {
  font-size: 1.2em;
  line-height: 138.8888888889%;
  font-weight: 700;
  color: #061e37;
}

.first__text {
  max-width: 53.3333333333em;
  margin-bottom: 1.7333333333em;
}

.project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__icon:not(last-child) {
  padding-right: 1em;
  padding-left: 1em;
}

.article-one {
  padding-top: 1.6666666667em;
}

.first__text_small {
  line-height: 166.6666666667%;
  font-weight: 400;
  color: #061e37;
}

.end {
  background-color: #fafafa;
}

.forms__container {
  max-width: 33.3333333333rem;
  padding: 0 1em;
  margin: 0px auto;
}

.forms__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forms__input {
  width: 15.4666666667rem;
  height: 2.7666666667rem;
  border: 0.0666666667rem solid #061e37;
  border-radius: 0.3333333333rem;
  margin-bottom: 1.9333333333em;
  padding: 1em 1em;
}

.forms input::-webkit-input-placeholder {
  background-color: #fafafa;
}

.forms input::-webkit-input-placeholder:focus {
  background-color: #fafafa;
}

.forms__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forms__big-input {
  max-width: 33.3333333333rem;
  height: 8.3rem;
  border: 0.0666666667rem solid #061e37;
  border-radius: 0.3333333333rem;
  margin-bottom: 1.6em;
  padding: 0.6666666667em 0.6666666667em;
}

.forms__big-input textarea {
  resize: none;
  background-color: #fafafa;
}

.forms__row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.forms__checkbox {
  margin-top: 1.3333333333em;
}

.forms__button {
  margin-left: auto;
}

.forms__btn {
  line-height: 2.8rem;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0.3333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.3333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 8rem;
  height: 2.8666666667rem;
  text-transform: uppercase;
  background-color: #1de9b6;
  padding-left: 3.3333333333em;
  margin-bottom: 6.3333333333em;
}

.forms__btn:hover {
  background-color: #061e37;
  -webkit-box-shadow: 0px 0.3333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.3333333333rem 0.3333333333rem 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #1de9b6;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
}

@media (min-width: 958px) {
  .icon-menu:before,
  .icon-menu:after {
    display: none;
  }

  .icon-menu span {
    display: none;
  }
}

@media (max-width: 1357px) {
  .row-2__item_2 {
    padding-left: 100px;
  }
}

@media (max-width: 1049px) {
  .row-2__title {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .row-2__text {
    margin-bottom: 18px;
  }
}

@media (max-width: 958px) {
  .menu__body {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00b8d4;
    padding-top: 70px;
    padding-bottom: 20px;
    overflow: auto;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }

  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    padding: 0px 0px 95px 0px;
  }

  .menu__link {
    color: #fff;
    font-size: 45px;
  }

  .menu__list li:last-child {
    padding-right: 40px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: -30px;
    right: 40px;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
}

@media (max-width: 957px) {
  .header__row {
    margin-bottom: 20px;
  }
}

@media (max-width: 866px) {
  .row-2__title {
    font-size: 24px;
    line-height: 45px;
  }

  .row-2__text {
    font-size: 14px;
  }
}

@media (max-width: 794px) {
  .header__row-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .row-2__item_2 {
    padding-left: 0px;
    margin-top: 20px;
  }

  .project__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .project__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1.3333333333em;
  }

  .first__text {
    padding-left: 1.3333333333em;
    padding-right: 1.3333333333em;
    margin-bottom: 1.3333333333em;
  }
}

@media (max-width: 425px) {
  .row-2__title {
    font-size: 15px;
    line-height: 30px;
  }

  .row-2__text {
    font-size: 10px;
    line-height: 24px;
  }
}

@media (max-width: 95.4rem) {
  .second-screen {
    height: 110vh;
  }
}

@media (max-width: 80.6666666667rem) {
  .second-screen {
    height: 120vh;
  }
}

@media (max-width: 73.5333333333rem) {
  .second-screen {
    height: 130vh;
  }
}

@media (max-width: 65.6666666667rem) {
  .second-screen {
    height: 180vh;
  }
}

@media (max-width: 63.8rem) {
  .row-2__video {
    margin-top: 1.3333333333em;
  }
}

@media (max-width: 61.5333333333rem) {
  .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row-2__item_3 {
    margin-left: 0;
  }
}

@media (max-width: 49.1333333333rem) {
  .second-screen {
    height: 200vh;
  }
}

@media (max-width: 45.8rem) {
  .spoiler__item {
    padding-right: 0.6666666667em;
  }
}

@media (max-width: 41.4rem) {
  .second-screen {
    height: 230vh;
  }
}

@media (max-width: 40.0666666667rem) {
  .forms__input {
    max-width: 15.4666666667rem;
    margin-right: 1em;
  }
}

@media (max-width: 39.6666666667rem) {
  .privacy__gap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .privacy__item {
    margin-bottom: 1.3333333333em;
  }

  .privacy__cartoons {
    margin-left: 0;
  }
}

@media (max-width: 34.2rem) {
  .second-screen {
    height: 260vh;
  }
}

@media (max-width: 32.5333333333rem) {
  .avatars__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .avatars__image:not(:last-child) {
    padding-right: 0;
  }
}

@media (max-width: 29.4666666667rem) {
  .forms__row-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .forms__row-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media (max-width: 25.3333333333rem) {
  .second-screen {
    height: 290vh;
  }
}

@media (max-width: 18.6666666667rem) {
  .privacy__circle {
    margin-top: 0.6666666667em;
    margin-right: 0.6666666667em;
  }
}